@import 'tailwindcss';

@theme {
	--font-sans: 'Geist Mono Variable', monospace;
}

@layer base {
	dialog {
		margin: auto;
	}
}

table tbody tr:not(:last-child) {
	border-bottom: 1px solid var(--color-gray-200);
}

table tbody tr td:not(:first-child),
table thead tr th:not(:first-child){
	 border-left: 1px solid var(--color-gray-200);
}